body {
  background-color: lightgray;
}
.mycontainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.padpage {
  padding-top: 10px;
  padding-bottom: 10px;
}
.small {
  font-size: small;
  color: darkgrey;
}
.danger {
  color: red;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
